*{
  margin: 0;
}

h5{
  font-size: 14px;
  color: grey;
  margin-top: 2%;
}

h1{
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}

.types{
  padding:0.5%;
  border: none;
  background-color: grey;
  margin-right: 85%;
  
}

h3{
  color: white;
  font-size:15px;
}

button{
  margin-top: 2%;
  font-size: 16px;
  background-color: green;
  border: none;
}

